.sacola {
    background-image: url(/img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-size: 14px;
    text-align: right;
    width: 140px;
    padding-right: 35px;
    padding-top: 10px;
    position: absolute;
    top: 0;
    right: 0;
}
.menu-opcoes ul {
    font-size: 15px;
}
.menu-opcoes a {
    color: #003366;
}
body {
    color: #333;
    font-family: "Lucida Unicode", "Lucida Grande", sans-serif;
    margin: 0 auto;
}
.menu-opcoes ul li {
    display: inline;
    margin-left: 15px;
}

header {
    position: relative;
}
.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}
.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 10px;
}
.busca,
.busca button,
.menu-departamentos {
    float: left;
    background-color: #cccac6;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    width: 230px;
}
.busca h2,
.busca form,
.menu-departamentos h2 {
    margin: 10px;
}
.menu-departamentos li {
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}
.menu-departamentos a {
    color: #333;
    text-decoration: none;
}
.menu-departamentos {
    clear: left;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #8c4ce0;
}
.busca input[type=search] {
    width: 170px;
}
.destaque {
    margin-top: 10px;
    padding-bottom: 10px;
    /* background-color: #e5ddf0; */
}
.painel {
    margin: 10px 0;
    padding: 10px;
    width: 445px;
    border-radius: 5px;
    text-shadow: 10px black;
    box-shadow: inset 0 0 40px #6600ff;
}
.novidades {
    float: left;
    background: linear-gradient(#f5dcdc, #bebef4);
}
.mais-vendidos {
    float: right;
    background: linear-gradient(#dcdcf5, #f4bebe);
}
.painel li {
    display: inline-block;
    vertical-align: top;
    width: 140px;
    margin: 2px;
    padding-bottom: 10px;
}
.painel h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;;
    margin-bottom: 10px;
    text-shadow: 3px 3px 2px #cce6ff;
}
.painel a {
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}
.novidades {
    background-color: #f5dcdc;
}
.mais-vendidos {
    background-color: #dcdcf5;
}
footer {
    clear: both;
    background-image: url(../img/fundo-rodape.png);
    padding: 20px 0;
}
.container {
    width: 940px;
    margin: 0 auto;
}
.social li {
    float: left;
    margin-left: 25px;
}
.social a {
    height: 32px;
    width: 32px;

    display: block;
    text-indent: -9999px;
}
.social a[href*="facebook.com"] {
    background-image: url(../img/facebook.png);
}
.social a[href*="twitter.com"] {
    background-image: url(../img/twitter.png);
}
footer .container {
    position: relative;
}
.social {
    position: absolute;
    top: 12px;
    right: 0;
}
.busca {
    margin-bottom: 5px;
    border-radius: 5px;
    
}
.busca button {
 /* adicionando imagem */
    background-image: url(../img/busca.png);
    background-repeat: no-repeat;
    border: none;

 /* tamanho da imagem */
    width: 20px;
    height: 20px;

 /* imagem replacement */
    text-indent: -9999px;
    float: right;
    
}
.menu-opcoes a:hover {
    color: #007dc6;
}
.menu-opcoes a:active {
    color: #939;
}
.menu-departamentos li ul{
    display: none;
}
.menu-departamentos li:hover ul {
    display: block;
}
.menu-departamentos ul ul li {
    color: #124567;
}
.menu-departamentos li li a::before {
    content: '-';
}
/* CONCEITOS IMPORTANTES DE CSS */
.painel h2::before {
    content: '\2756';
    padding-right: 5px;
    opacity: 0.4;
}
.painel li:hover {
    background-color: rgb(255, 255, 255, 0.8);
    box-shadow: 0 0 5px #333;
    transition: 0.7s ease-in-out;
    transform: scale(1.1) rotate(-5deg);
}
.painel li:nth-child(2n):hover {
    transform: scale(1.1) rotate(5deg)
}
.painel li {
    transition: 0.7s cubic-bezier(.03,.68,1,.91);
}
/* FIM */
.logo-mirror {
    padding-bottom: 25px;
}